@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.segment.bcf-color1 {
	background-color: #24e1da;
	background-color: hsl(176, 72%, 50.9804%);
}
.segment.bcf-color2 {
	background-color: #dcaf28;
	background-color: hsl(45, 72%, 50.9804%);
}
.segment.bcf-color3 {
	background-color: #cd454a;
	background-color: hsl(358, 57%, 53.7255%);
}

html, body {
}
h1,h2,h3,h4,h5,h6,
#intro {
	font-family: "Abril Fatface";
}

#main-nav.ui.menu {
	margin-bottom: 0.3rem;
}
#main-nav.ui.menu .item {
	font-size: 1.3rem;
}
#main-nav.ui.menu .item:hover {
	color: #1b1c1d;
	background-color: #dcaf28;
}

#side-nav {
}

#header h1 {
	margin: 1.2rem 0 0.8rem;
	text-align: center;
}
#header h1 span {
	display: inline-block;
	padding-left: 4rem;
	padding-right: 4rem;
}
#header .name {
	font-size: 130%;
}
#header .location,
#header .time {
}

body {
}
#intro {
	background: url("assets/images/bg_30.jpg") no-repeat center center;
	background-size: 1600px;
}
#intro-container {
	padding-top: 5%;
}
#intro-details {
	width: 100%;
	line-height: 4em;
	position: absolute;
	z-index: 1;
	text-align: center;
	bottom: 0;
	height: 4em;
	font-size: 2em;
	color: white;
	background: -moz-linear-gradient(bottom,  rgba(0,0,0,1.00) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,1.00)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(0,0,0,1.00) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  rgba(0,0,0,1.00) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  rgba(0,0,0,1.00) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to top,  rgba(0,0,0,1.00) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#intro-details span {
	padding: 0 0.5em;
}
#logo {
	opacity: 0.8;
	width: 90%;
}
#logo:hover {
	-webkit-filter: hue-rotate(240deg);
}
#intro-nav {
	position: relative;
	z-index: 1; /* needed for setting pseudo-element z-index */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
@media only screen and (max-width: 767px) {
	#intro-nav {
		text-align: center;
	}
}
#intro-nav li {
	list-style: none;
	margin-bottom: 1rem;
	padding-left: 4rem;

}
#intro-nav a {
	font-size: 3rem;
	color: #24e1da;
	color: hsl(176, 72%, 50.9804%);
	-webkit-transition: color 0.15s;
	transition: color 0.15s;

	overflow: hidden;
	position: relative;
	display: inline-block;
	outline: none;
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}
#intro-nav a:hover {
	color: black;
}
#intro-nav a::before,
#intro-nav a::after {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
#intro-nav a::before {
	opacity: 0.8;

	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: hsl(45, 72%, 50.9804%);
	-webkit-transition: -webkit-transform 0.15s;
	transition: transform 0.15s;
	-webkit-transform: translateY(95%);
	transform: translateY(95%);
}

#intro-nav a:hover::before,
#intro-nav a:focus::before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

#festival {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	color: white;
	font-size: 120%;
	height: 50rem;
	width: 50rem;
	margin-top: -25rem;
	margin-left: -25rem;
}
#festival::after {
	content: '';
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

.gallery {
	background-color: black;
    height: 600px;
    width: 100% ;
}
.cell {
    height: 100%;
}
.cell img {
	opacity: 0.6;
    height: 100%;
    width: auto;
}

#program {
	background: url("assets/images/bg_program.jpg") no-repeat center center;
	background-size: 1600px;
}

section.ui.segment,
footer.ui.segment,
#header {
	border-radius: 0;
	margin: 0em auto;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 8%;
}
#header {
	padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
	section.ui.segment,
	footer.ui.segment,
	#header {
		padding-left: 0em;
		padding-right: 0em;
	}
}

@media only screen and (min-width: 768px) {
	section.ui.segment,
	footer.ui.segment,
	#header {
		padding-left: 4em;
		padding-right: 4em;
	}
}

@media only screen and (min-width: 992px) {
	section.ui.segment,
	footer.ui.segment,
	#header {
		padding-left: 8%;
		padding-right: 8%;
	}
}

@media only screen and (min-width: 1400px) {
	section.ui.segment,
	footer.ui.segment,
	#header {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media only screen and (min-width: 1920px) {
	section.ui.segment,
	footer.ui.segment,
	#header {
		padding-left: 23%;
		padding-right: 23%;
	}
}